body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ffa600;
    color: #e80303;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
